
.contenedor {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
}

.btn-simple{
  display: flex;
  align-items: center;
  justify-content: center;
    width: 22rem;
    background-color: $negro;
    color: $blanco;
    margin-top: 1rem;
    border-radius: 2rem;
}


.form-botones, .inicio-botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .btn-black_whatsapp,
  .btn-simple {
    width: 17rem;
    height: auto;
    background-color: $negro;
    color: $blanco;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    p {
      margin: 0;
    }
    .btn-black_in {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $blanco;
      width: auto;
      height: auto;
      margin: 0 auto;
      color: $negro;
      font-size: 0.5rem;
      border-radius: 2rem;
      .icon-btn {
        height: auto;
        width: auto;
      }
    }
  }
  .btn-simple {
    height: 5rem;
    width: 35%;
  }
}

.btn-black_whatsapp{
  width: 20rem;
}

.btn-black_whatsapp,
  .btn-simple {
    width: auto;
    height: auto;
    background-color: $negro;
    color: $blanco;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 1.5rem;
    border: none;
    border-radius: 2rem;
    text-align: center;
    p {
      margin: 0;
    }
    .btn-black_in {
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: $blanco;
      width: 95%;
      height: 50%;
      margin: .5rem auto;
      color: $negro;
      font-size: 0.5rem;
      border-radius: 2rem;
      .icon-btn {
        height: 80%;
        width: 20%;
      }
    }
  }

  .btn-rojo{
    background-color: $rojo;
    padding: 2rem;
    font-size: 4rem;
    margin: 0 auto;
    border-radius: 2rem;
  }



