.desktop-presentacion{
  display: none;
}

.nosotros-ayuda_titulo {
  font-weight: $bold;
  font-size: 3rem;
  margin: 0;
}

.nosotros-contenedor_imagen {
  display: flex;
  justify-content: center;
  .nosotros-ayuda_imagen {
    width: 40%;
  }
}

.nosotros-contenedor_texto {
    margin: 1rem 5rem;
  .nosotros-titulo {
    font-weight: $bold;
    font-size: 2.5rem;
    margin: 0;
  }
  .nosotros-descripcion{
      text-align: justify;
      font-size: 1.8rem;
      line-height: 1.5rem;
      margin: 2rem 0;
      height: 20rem;
  }
}

.nosotros-contenedor_botones{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    .border{
        border: solid $black 5px;
        width: 65%;
        height: 5rem;
        margin: 2.5rem 0;
    }
    .boton{
        background-color: $beishe;
        width: 100%;
        height: 5rem;
        margin: -2rem 0 0 -2rem;
        display: flex;
        justify-content: center;
        align-content: center;
        p{
            font-weight: $regular;
            margin: 0;
            text-align: center;
            font-size: 2rem;
        }
    }
}

@include desktop{
  .desktop-presentacion{
    display: flex;
    height: 88vh;
    .contenedor-logotipo{
      width: 100%;
      height: 80vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .presentacion-logotipo{
        display: flex;
        height: 40vh;
        width: 40%;
        color: black;
      }
      .bg-logotipo{
      background-image: url('/build/img/isotipo.svg');
      background-repeat: no-repeat;
      background-position: center;
      opacity: .27;
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      justify-content: center;
      align-items: center;
      }

      
    }
  }

  .banner-carrusel{
    height: 30%;
    .nosotros-contenedor_imagen{
      .nosotros-ayuda_imagen{
        width: 15%;
      }
    }
    .nosotros-ayuda_titulo{
      font-size: 3rem;
      margin: 0;
    }
  }
  
  .size{
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .nosotros-contenedor_botones{
      display: none;
    }
    .nosotros-titulo{
      font-size: 3rem;
      margin-top: 0;
    } 
    .nosotros-descripcion{
      font-size: 2rem;
      line-height: 3rem;
      padding: 0 12rem;
      margin: 6rem 0;
    }
    .contenedor-botones_desktop{
      display: flex;
      width: 50%;
      height: auto;
      padding: 1rem 0;
      justify-content: space-around;
      background-color: $beishe;
      border-radius: 25px;
      .boton-desktop{
        font-size: 2rem;
        width: 20%;
        background-color: $beishe;
        border-radius: 30px;
        border: none;
        padding: 1rem 0;

        &:hover{
          cursor: pointer;
          color: white;
          background-color: black;
        }
      }
    }
  }
}
