.mobile-help{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor-botones_desktop{
    display: none;
}

.contenedor-bordes_detalles{
    display: none;
}
.contenedor-bg{
    background-color: $beishe;
    width: 100%;
    height: 45vh;
    margin-bottom: 3rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.img-servicios{
    width: 18rem;
    height: 10rem;
}

.hogar-image{
    margin: -1rem 0 0 -1.2rem ;
}

.corporativo-image{
    margin: -1rem 0 0 .5rem;
}

.seccion-corporativo, .seccion-hogar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.seccion-hogar{
    flex-direction: row-reverse;
}

.btn-simple{
    p{
        margin: 0;
    }
}

// Fondo de las imagenes con bordes negros
.contenedor-img{
    border: solid black .3rem;
    width: 18rem;
    height: 10rem;
}

//Carrusel 

.contenedor-carrusel{
    display: flex;
    flex-direction: column;
    margin: 4rem 3rem;
    align-items: center;
    height: auto;
    .titulo-producto{
        font-weight: $bold;
        font-size: 2.5rem;
        margin: 1.5rem;
    }
    .contenedor-imagen{
        width: 90%;
    }
    .contenedor-bordes, .contenedor-bordes_detalles {
        margin: 3rem 0;
        border: solid $black .5rem;
        height: 20rem;
        width: 30rem;
        .contenedor-descripcion{
            width: 100%;
            height: 100%;
            background-color: $beishe;
            padding: 2rem;
            margin: -1rem;
            

            .producto-titulo{
                font-weight: $regular;
                font-size: 2rem;
                margin: 0;
                text-align: center;
            }
            .producto-descripcion{
                font-size: 1.5rem;
                margin: 0;
                text-align: justify;
            }
        }
    }

    .contenedor-carrusel_btn{
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
    }

    
}

//desktop

@include desktop{
    .contenedor-bordes_detalles{
        display: flex;
    }

    .bg-nosotros_principal{
        z-index:-1;
    }
    .contenedor-bg
    {
        background: white;
        flex-direction: row;
        height: 80vh;
        align-items: center;
    }

    .seccion-corporativo, .seccion-hogar{
        flex-direction: column-reverse;
        width: 30%;
        height: 85%;
    

        .btn-simple{
            position: absolute;
            p{
                font-size: 3rem;
            }
            &:hover{
                background-color: white;
                color: black;
                p{
                font-size: 3.5rem;
                font-weight: $bold;
                }
            }
        }
        .contenedor-img{
            width: 100%;
            height: 100%;
            border: 1rem solid #000;

            .img-servicios{
                width: 100%;
                height: 100%;
            }

            .hogar-image{
             margin: -1.5rem 0 0 -1.2rem;
            }

            .corporativo-image{
                margin: -1.5rem 0 0 -1.2rem;
            }
        }
    }

    .contenedor-carrusel{
        .display{
            display: none;
        }

        .titulo-producto{
            font-size: 6rem;
            margin-bottom: -2rem;
        }

        .contenedor-imagen{
            width: 30%;
            margin-top: -20rem;
            margin-right: -5rem;
        }

        .mobile-help{
        display: flex;
        flex-direction: row;
        height: 75vh;

        }

        .contenedor-bordes, .contenedor-bordes_detalles{
            width: 49rem;
            height: 38rem;
            border: solid $black 1rem;
            margin-bottom: -20rem;
            margin-left: -5rem;
           
            .contenedor-descripcion{
                width: 95%;
                height: 95%;
                margin: 1rem auto;
                padding: 5rem;
                .producto-titulo, .producto-descripcion{
                    font-size: 2.5rem;
                    line-height: 2.5rem;
                    margin: 2rem auto;
                }
            }
        }

        .contenedor-bordes_detalles{
            margin-top: -42rem;
            z-index: -1;
        }

        .btn-simple{
            margin: 3rem auto;
            p{
                font-size: 3.5rem;
            }
        }
        
        .btn-caracteristicas{
            margin-top: -34rem;
        }
    }
}